

<div class="conteiner">

<h2> <%= @restaurant.name %> </h2>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

</div>


<%= link_to "Editar", edit_restaurant_path(@restaurant) %>
<%= button_to "Excluir", restaurant_path(@restaurant), method: :delete, data: { confirm: "Tem certeza que deseja excluir este restaurante?" }, class: "btn btn-danger" %>
